*{
  padding:0;
  margin:0;
}
.menu {
  /* add correct code to place the menu correctly.*/

  background-color: black;
  font-family: sans-serif;
  color: white;

}
body {
  background-color: rgb(192, 186, 186);
}
.grid {
  /* add correct code to place the grid elements 
  one beside the other equally.   */

  flex-wrap: wrap;
  font-family: sans-serif;
}

.grid img {
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}

.navpart1{
  display:flex;
  flex-direction: row;

}
#menuButton{
  text-decoration: none;
  color:white;
  font-size:30px;
}
#aboutLink{
  text-decoration: none;
  color:white;
  border:2px solid white;
}
#mainHeading{
  font-size: 30px;
  margin:auto;
}
.languages{
  background-color:white;
  width:20%;
  margin:15px 15px 15px 15px;
  padding:2%;
  border-radius: 3%;
}

.allLang{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0;
}